<nav class="navbar navbar-toggleable-sm navbar-light fixed-top">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
          aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#"><img src="https://vectr.com/mattb912/g1ZVtgjkwV.png?width=238.3&height=52.57&select=group_a1hW96qGvh&source=selection"></a>
    <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                      <a class="nav-link" href="#about" data-hook="about">about</a>
                </li>
                <li class="nav-item">
                      <a class="nav-link" href="#portfolio" data-hook="portfolio">portfolio</a>
                </li>
                <li class="nav-item">
                      <a class="nav-link" href="#contact" data-hook="contact">contact</a>
                </li>
          </ul>
    </div>
</nav>