<ul class="quotes">
    <% for(var i =0; i < quotes.length; i++){%>
        <li class="quote">
            <span><%= quotes[i].name %></span>
            <span><%= quotes[i].quote %></span>
        </li>
    <% } %>
</ul>

<form action="/quotes" method="POST">
    <div class="form-group">
      <label for="">Name</label>
      <input type="text" class="form-control" name="name" id="name" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <div class="form-group">
      <label for="">Quote</label>
      <input type="text" class="form-control" name="quote" id="quote" aria-describedby="helpId" placeholder="">
      <small id="helpId" class="form-text text-muted">Help text</small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>